.box{
-fx-background-radius : 10px;
-fx-background-image : url("https://us.123rf.com/450wm/kaspri/kaspri1804/kaspri180400018/100261142-oak-grain-veneer-texture-background-dark-black-brown-natural-horizontal-scratched-textured-pattern-l.jpg?ver=6");
-fx-border-color : black;
-fx-border-width : 5px;
-fx-border-radius : 5px;
-fx-padding : 5px;
}

.gameField{
-fx-stroke-width : 5px;
-fx-stroke : black;
-fx-fill : grey;
}

.checkField{
-fx-stroke-width : 1px;
-fx-stroke : black;
-fx-fill : grey;
}

#GameScreen{
-fx-background-image : url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRF0riaKy8awJeZ4DUiDG95HOlh-GZhbYczOg&usqp=CAU");
}