@font-face{
src: url("../tekstury/gunmetal.ttf");
}

.root *{
-fx-font-family : Gunmetal;
}

.box{
-fx-background-radius : 10px;
-fx-background-color : yellow;
-fx-border-color : black;
-fx-border-width : 5px;
-fx-border-radius : 5px;
-fx-padding : 5px;
}

.gameField{
-fx-stroke-width : 5px;
-fx-stroke : black;
-fx-fill : grey;
}

.checkField{
-fx-stroke-width : 1px;
-fx-stroke : black;
-fx-fill : grey;
}

VBox{
-fx-background-color : brown;
}